.company-name{
    color: #4E47FF;
    width: 0px;
    height: 0px;
    font-weight: 1000;


}
.btn-primary{
    font-weight: bold;
    font-size: 5px;
    color: white;
    width: 60px;
    height: 24px;
    padding: 6px 16px 6px 16px;
    background-color:#4E47FF ;
    border:none ;
    border-radius: 5px;
}
.top-head{
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    margin: 0px 80px 0 80px;
}
.moto-descriptionone{
    font-size: 30px;
    font-weight: bold;
   text-align: center;
   justify-content: center;
   margin-top: 100px;
   
}


.moto{
    margin: 0px 150px 100px 150px;
}
.btn-secondary{
    font-weight: bold;
    font-size: 6px;
    color: white;
    width: 80px;
    height: 24px;
    padding: 6px 16px 6px 16px;
    background-color:#4E47FF ;
    border:none ;
    border-radius: 5px;
   display: block; margin: 0 auto;
}
.banner{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
  
}

.written-action {
  max-width: 300px;
}

.action-name {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.action-description {
  color: #6e6d78;
  font-size: 14px;
  margin-bottom: 20px;
}

.btn-trio {
  font-size: 12px;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: #4e47ff;
  color: white;
  
  
}

.action-image {
  width: 280px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.productive-details{
    display: flex;
    gap: 100px;
     text-align: center;
    justify-content: center;
    
}
.productive-user{
    text-align: center;
    justify-content: center;
    background-color: #b4b4c4;
    padding-top: 25px ;
    padding-bottom: 25px;
    margin: 0 85px;
    border-radius: 10px;

}
.user-num{
    font-size: 40px;
    font-weight: bold;
    color: #221799;
    margin-bottom: 2px;
}
.user{
    color: #000000;
    font-size: 9px;
    font-weight: 300;
    margin-top: 0;
}
.reviewer-info{
    font-size: 6px;
    
}
.date{
    color: #686869;
}
.reviewer{
    display: flex;
}
.reviews{
    display: flex;
    gap: 20px;
    
}
.review-description{
    font-size: 8px;
    width: 130px ;
}
.title{
    font-size: 13px;
}
.review{
    padding-top: 13px;
    padding-right: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
   box-shadow: 0 2px 6px #383535;
}
.reviwer-section{
    justify-content: center; 
    /* text-align: center; */
    margin: 79px 90px;
}
.title-head{
    text-align: center;
}
.image{
     width: 60px;       
  height: 60px;
  border-radius: 50%;
  object-fit: cover

}
.container{
  
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  
}

.footer-title {
  font-size: 3rem;
  font-weight: 800;
  color: black;
 
}

.footer-form {
  display: flex; 
  flex-direction: column;
  width: 320px;
}

.footer-form h6 {
  margin: 12px 0 6px;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.footer-form input,
.footer-form textarea {
  padding: 12px;
  border: 1px solid #f5efef;
  border-radius: 6px;
  font-size: 14px;
  
  background: white;
}

.footer-form textarea {
  min-height: 100px;
}

footer form button {
  margin-top: 20px;
  padding: 12px;
  background-color: #4f46e5;
  color: #d0d1d0;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  
}


.footer-bottom {
  
  text-align: center;
  padding: 60px 20px;
  color: #8987A1;
}

.footer-bottom .logo {
  font-size: 64px;
  font-weight: bold;
  color: #281fd3; 
  margin-bottom: 20px;
}

.footer-bottom .description {
  max-width: 400px;
  margin: 0 auto 30px;
  font-size: 10px;
  color: #888;
  
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-icons a {
  text-decoration: none;
  font-size: 16px;
  color: #888;
  /* transition: color 0.3s ease; */
}

.footer-icons a:hover {
  color: #1b1679;
}
body{
    background-color: rgb(173, 240, 240);
}
.btn-trio:hover{
    background-color: #000000;

}
.btn-primary:hover{
    background-color: #000000;
}
.btn-secondary:hover{
    background-color: #000000;
}
.submit:hover{
    background-color: #000000;
}