.company-name{
    color: #4E47FF;
    width: 0px;
    height: 0px;
    font-weight: 1000;


}
.btn-primary{
    font-weight: bold;
    font-size: 5px;
    color: white;
    width: 60px;
    height: 24px;
    padding: 6px 16px 6px 16px;
    background-color:#4E47FF ;
    border:none ;
    border-radius: 5px;
}
.top-head{
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    margin: 0px 80px 0 80px;
}
.moto-descriptionone{
    font-size: 30px;
    font-weight: bold;
   text-align: center;
   justify-content: center;
   margin-top: 100px;
   
}


.moto{
    margin: 0px 150px 100px 150px;
}
.btn-secondary{
    font-weight: bold;
    font-size: 6px;
    color: white;
    width: 80px;
    height: 24px;
    padding: 6px 16px 6px 16px;
    background-color:#4E47FF ;
    border:none ;
    border-radius: 5px;
   display: block; margin: 0 auto;
}
.banner{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
  
}

.written-action {
  max-width: 300px;
}

.action-name {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.action-description {
  color: #6e6d78;
  font-size: 14px;
  margin-bottom: 20px;
}

.btn-trio {
  font-size: 12px;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: #4e47ff;
  color: white;
  
  
}

.action-image {
  width: 280px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.productive-details{
    display: flex;
    gap: 100px;
     text-align: center;
    justify-content: center;
    
}
.productive-user{
    text-align: center;
    justify-content: center;
    background-color: #b4b4c4;
    padding-top: 25px ;
    padding-bottom: 25px;
    margin: 0 85px;
    border-radius: 10px;

}
.user-num{
    font-size: 40px;
    font-weight: bold;
    color: #221799;
    margin-bottom: 2px;
}
.user{
    color: #000000;
    font-size: 9px;
    font-weight: 300;
    margin-top: 0;
}